@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixins';

@import 'vendors/bootstrap-full';
@import 'vendors/slick';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

@import 'components/slider';
@import 'components/buttons';

@import 'pages/home';







