@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: Roboto;
}

h1 {
  font-size: rem(109px);
  font-weight: bold;
}

/* COLORS */
/* COLORS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container-fluid {
  max-width: 1690px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#main {
  min-height: 100vh;
}

#main header {
  top: 0;
  position: fixed;
}

#main .wrapper,
#main .slick-list,
#main .slick-track,
#main .slick-slide {
  min-height: 100vh;
}

.wrapper {
  max-width: 1920px;
}

header {
  z-index: 1;
}

header.hide {
  background: red;
}

section {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightblue;
}

/* CUSTOM SLICK */
.slick-slider {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0;
}

nav .slick-dots {
  padding: 0;
}

nav .slick-vertical-dots li {
  position: relative;
  padding: 0;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  margin: 10px 0;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .slick-vertical-dots li button {
  border: none;
  background: none;
  font-size: 0;
}

nav .slick-vertical-dots li button:hover::before {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

nav .slick-vertical-dots li button::before {
  content: "";
  background: #fefdfc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

nav .slick-vertical-dots li.slick-active button::before {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

nav .slick-arrow {
  content: url(../assets/chevron-white.svg);
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav .slick-arrow.slick-disabled {
  opacity: 0.8;
}

nav .slick-arrow.slick-prev:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

nav .slick-arrow.slick-prev.slick-disabled:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .slick-arrow.slick-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .slick-arrow.slick-next:hover {
  -webkit-transform: rotate(180deg) scale(1.5);
          transform: rotate(180deg) scale(1.5);
}

nav .slick-arrow.slick-next.slick-disabled:hover {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

/* SECTIONS */
.intro {
  background: darkgrey;
}
/*# sourceMappingURL=main.css.map */