body{
    background-color: $color-black;
}
.icon-funding-col{
    @include min-dt {
        min-width: calc(94px + 15px);
    }
}
.icon-funding{
    background: $color-white;
    width: 50px;
    height: 50px;
    font-size: rem(18px);
    margin: 0 auto;
    @include min-dt {
        width: 94px;
    height: 94px;
    font-size: rem(36px);
    }
    max-width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $color-black;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: rotate(-5deg);
    }
}
/* SECTIONS */
.wrapper section{
    background-repeat: no-repeat;
    background-size: cover;
    @include min-dt {
        background-size: contain;
    }
    &.background-left{
        background-position: right;
        @include min-dt {
            background-position: left;
        }
    }
    &.background-right{
        background-position: left;
        @include min-dt {
            background-position: right;
        }
    }
}
.intro {
    background-image: url('../../assets/background-intro.jpg');
    .cta{
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        @include min-dt {
            margin-bottom: 165px;
            margin-left: 0;
        margin-right: auto;
        }
    }
}
.community {
    background-image: url('../../assets/background-community.jpg');
    .row.mb-70 {
        margin-bottom: 0;
        @include min-dt{
            margin-bottom: 40px;
        }
    }
    h3{
        margin-bottom: 0;
    }
}
.development{
    background-image: url('../../assets/background-development.jpg');
}
.about{
    h2{
        margin-bottom: 0;
        text-align: center;
    }
    .about-infographic{
        position: relative;
    }
    .infographic-container{
        position: relative;
        .text-bubble{
            &.sell{
                
            }
            &.virtual{
                
            }
            &.transparent{
               
            }
            &.sdk{
               
            }
            &.auction{
                
            }
        }
    }

}
.join {
    .background-image-hand{
        position: absolute;
       bottom: 0;
       right: 0;
       max-width: 60%;
        @include min-dt{
           
            
            top: 50%;
            transform: translateY(-50%);
            max-width: 40%;

        }
    }
    background: linear-gradient(233deg, #1283eb, #191919);
    background-size: 400% 400%;

    -webkit-animation: GradientAnimation 0s ease infinite;
    -moz-animation: GradientAnimation 0s ease infinite;
    animation: GradientAnimation 0s ease infinite;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@keyframes GradientAnimation {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
section{
    h2{
        opacity: 0;
        transition: opacity 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out 0.3s;
    }
    p,
    h3{
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0.5s;
    }
    &.background-left{
        h2{
            transform: translateX(20%);
        }
    }
    &.background-right{
        h2{
            transform: translateX(-20%);
        }
    }
    &.slick-active{
        h2{
            transform: translateX(0);
        }
        p,
        h3{
            opacity: 1;
        }
    }
}
.slick-active{
    h2{
        opacity: 1;
        transform: translateY(0);
    }
}

