body{
    background-color: $color-black;
}
.icon-funding{
    background: $color-white;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(36px);
    font-weight: bold;
    color: $color-black;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: rotate(-5deg);
    }
}
/* SECTIONS */
.wrapper section{
    background-repeat: no-repeat;
    background-size: contain;
    &.background-left{
        background-position: left;
    }
    &.background-right{
        background-position: right;
    }
}
.intro {
    background-image: url('../../assets/background-intro.jpg');
    .cta{
        margin-bottom: 165px ;
    }
}
.community {
    background-image: url('../../assets/background-community.jpg');
}
.development{
    background-image: url('../../assets/background-development.jpg');
}
.about{
    h2{
        text-align: center;
    }
    .infographic-container{
        position: relative;
        .text-bubble{
            &.sell{
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            &.virtual{
                top: 5%;
                left: 15%
            }
            &.transparent{
                bottom: 0;
                left: 15%
            }
            &.sdk{
                right: 0;
                bottom: 0;
            }
            &.auction{
                top: 20%;
                right: 5%;
            }
        }
    }
    .text-bubble {
        position: absolute;
    }
}
section{
    h2{
        opacity: 0;
        transition: opacity 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out 0.3s;
    }
    p,
    h3{
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0.5s;
    }
    &.background-left{
        h2{
            transform: translateX(20%);
        }
    }
    &.background-right{
        h2{
            transform: translateX(-20%);
        }
    }
    &.slick-active{
        h2{
            transform: translateX(0);
        }
        p,
        h3{
            opacity: 1;
        }
    }
}
h2{
    
    
    
}
.slick-active{
    h2{
        opacity: 1;
        transform: translateY(0);
    }
}

