.text-white{
    color: $color-white;
}
.text-blue{
    color: $color-blue;
}
.background-black{
    background-color: $color-black;
}
.background-white{
    background-color: $color-white;
}
.background-grey{
    background-color: $color-grey;
}

// custom mixins
$break-tb-min: 768px;
$break-dt-min: 992px;

@mixin min-tb {
    @media (min-width: $break-tb-min) {
        @content;
    }
}

@mixin min-dt {
    @media (min-width: $break-dt-min) {
        @content;
    }
}