html,
body {
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
  }
.container-fluid {
    max-width: 1690px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.wrapper {
    height: 100vh;
  position: relative;
  top: 0;
  margin: 0 auto;
  max-width: 4096px;
}
.slick {
    section {
      width: 100%;
      height: 100vh;
      position: relative;
      /* font-size: 50px; */
      position: relative;
    }
}
.slick-vertical .slick-slide {
    border: none;
    height: 100vh;
  }

 section {
    display: flex !important;
    justify-content: center;
    align-items: center;
} 