
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}


body {
    font-family: Roboto;
    font-size: rem(18px);
    font-weight: normal;
}
button{
    font-family: Roboto;
}

h1{
    font-size: rem(50px);
    font-weight: bold;
    line-height: 1;

    @include min-dt {
        font-size: rem(109px);
    }
}
h2{
    font-size: rem(25px);
    font-weight: bold;
    margin-bottom: 40px;
    @include min-dt{
        font-size: rem(61px);
        text-align: left;
    }
}
h3{
    font-size: rem(20px);
    font-weight: bold;
    
    @include min-dt{
        font-size: rem(24px);
    }
}
p{
    font-size: rem(16px);
    line-height: 150%;

    @include min-dt {
        font-size: rem(18px);
    }
}
.text-bubble{
    display: inline-flex;
    flex-direction: column;
    background: $color-white;
    padding: 15px 20px;
    width: auto;
    border-radius: 12px;
    line-height: rem(20px);
    &::before {
        content: "";
        display: block;
        margin-bottom: 7px;
        width: 73px;
        height: 1px;
        background-color: $color-blue;
        border: 1px solid $color-blue;
    }
}

